{% extends 'base.html' %}

{% block content %}
<div class="p-2.5 mt-1">
    <h1 class="text-2xl text-center">{{ title }}</h1>
    <div class="w-[100%] mt-5 flex justify-center w-full">
        <form action="" method="post" enctype="multipart/form-data" class="w-[500px]">
            {% csrf_token %}
            {% for field in form %}
                <div class="flex flex-col justify-start gap-2">
                    <label for="id_{{ field.name }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="mt-5 p-2 w-full text-center rounded border border-gray-900 hover:bg-gray-900 transition hover:text-white" type="submit">{{ btn_text }}</button>
        </form>
    </div>
</div>
{% endblock content %}